POSTGRES_DB=sgc_proveperu
POSTGRES_USER=proveperu_app
POSTGRES_PASSWORD=CAMBIAR_CONTRASEÑA
POSTGRES_PORT=5432

ADMIN_INITIAL_ENABLED=false
ADMIN_INITIAL_RESET_PASSWORD=false
ADMIN_INITIAL_LOGIN=admin
ADMIN_INITIAL_PASSWORD=CAMBIAR_CONTRASEÑA_SEGURA
ADMIN_INITIAL_NAME=Administrador del sistema

JWT_SECRET=GENERAR_SECRETO_BASE64_DE_32_BYTES
JWT_ISSUER=sgc-proveperu
JWT_EXPIRATION=PT2H
