POSTGRES_DB=sgc_proveperu
POSTGRES_USER=proveperu_app
POSTGRES_PASSWORD=CAMBIAR_CONTRASEÑA
POSTGRES_PORT=5432

ADMIN_INITIAL_ENABLED=false
ADMIN_INITIAL_LOGIN=admin
ADMIN_INITIAL_PASSWORD=CAMBIAR_CONTRASEÑA_SEGURA
ADMIN_INITIAL_NAME=Administrador del sistema
